@{
    ViewBag.Title = "PageView";
    ViewBag.Path = "";
    ViewBag.GetPageUrl = "~/CMS_Page/GetPage?id=7";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}

    <div id="cmspage_@ViewBag.ViewID">
        <div id="tabpage_@ViewBag.ViewID" class="heightToFooter box">
            <div id="ckeditor-dialog_@ViewBag.ViewID" title="Content Dialog" style="display:none;">
			    <div style="height:98%; width:100%;" >
				    <textarea id="editor_@ViewBag.ViewID"></textarea>
			    </div>
			</div> 
	        <div  class="heightToFooter box" style="height:500px">
		        <iframe id="IFrame_@ViewBag.ViewID" class="cmsiframe" style="height:100%; width:100%;background-color:white"></iframe>
	        </div>                                                                           
        </div>
    </div>


@section scripts {
     @Scripts.Render("~/bundles/ckeditor")
     @Scripts.Render("~/bundles/jqueryui")
                                  
    <script type="text/javascript">

        (function () {
            var viewID = "@ViewBag.ViewID";
            var $cc = $("#cmspage_@ViewBag.ViewID");
            var $iframe = $cc.find("#IFrame_@ViewBag.ViewID");

            $iframe          
            .attr("src", "@Url.Content(@ViewBag.GetPageUrl)")
			.load(
				function() {
				    $html = $('html', $iframe.contents());
				    $html.find(".edit-asset")
							.on('click', function (event) {
							    var $asset = $(this);
							    openCKEditor("@ViewBag.ViewID", $asset);
							});
				    // iframe event
				    $html
						.on('click', function () {
						    //Editor.endEdit($(this));
						})
				});


            // example: http://jsfiddle.net/marsel_aipassa/sd5UT/
            var openCKEditor = function (viewID, $asset) {
                __log("... Editor: open");

                var $editor = $asset.find(".edit-asset-container");

                var $iframe = $("#IFrame_@ViewBag.ViewID");
                var iframeWindow = $iframe.get(0).contentWindow;

                //Insert the overlay div before the dialog div
                $ckDialog = $("#ckeditor-dialog_@ViewBag.ViewID");
                $('<div id="overlay_@ViewBag.ViewID" class="ui-widget-overlay" />').insertBefore($ckDialog);

                //Initialize the non-modal dialog
                var $dialog = $ckDialog.dialog({
                    autoOpen: false, modal: true,
                    zIndex: 9999, width: 850, height: 600,
                    create: function () {

                        $editor = CKEDITOR.replace("#editor_@ViewBag.ViewID",
							{
							    toolbar: 'cmsToolbar',
							    width: '100%',
							    height: '100%'
							});

                    },
                    buttons: {
                        OK: function () { },
                        Abbrechen: function () { $(this).dialog('close'); }
                    },

                    close: function () {
                        //Remove the overlay div element
                        $("#overlay_@ViewBag.ViewID").remove();

                        //Reset the textarea element
                        $editor.destroy(true);

                        //Reset the dialog div element
                        $dialog.dialog('destroy');
                    },
                    open: function (event, ui) {
                    }
                });

                //Giving some time for CKEditor instance to be initialized,
                //the result is the dialog will be displayed at the center.
                setTimeout(function () {
                    $dialog.dialog("open");
                }, 100);
            }

            var __log = function (log) {
                console.log(log);
            }

          })()
    </script>
 }



     
